@import "styles/_nav";
@import "styles/_typography";

@media screen and (max-width: 380px) {
    section{
        background-color: rgba(224, 219, 219, 1);
        padding: 20px;        
        
        img {            
            height: 300px;
            width: 300px;
            object-fit: contain;
        }
    }
}
@media screen and (min-width: 380px) {
    body {
        background-color: rgba(236, 236, 236, 1);
    }

    h1 {
        text-align: center;
        margin-top: 10px;
    }

    section {
        margin-top: 20px;
        display: grid;
        grid-template-areas: "img title title""img p p""img p p";

        h2 {
            grid-area: title;
        }

        p {
            grid-area: p;
            font-size: 32px;
        }

        img {
            grid-area: img;
            width: 500px;
            height: 500px;
            object-fit: contain;
            padding: 20px;
        }
    }
}