@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Poppins&display=swap");
@media screen and (max-width: 380px) {
  nav {
    background-color: #e0dbdb;
    border-bottom: 1px solid #0d0d0d;
  }
  nav .navies {
    width: 380px;
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  nav .navies ul {
    font-family: sans-serif;
    font-size: medium;
    gap: 0px;
  }
  nav .navies ul a {
    color: #7f7f7f;
    text-decoration: none;
    padding: 0px;
    gap: 0px;
    font-weight: normal;
  }
  nav .navies .icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #7f7f7f;
  }
  nav .navies .icons .icon {
    text-decoration: none;
    color: #7f7f7f;
    padding: 2px;
    font-size: 35px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
@media screen and (min-width: 380px) {
  nav {
    background-color: #e0dbdb;
    border-bottom: 1px solid #0d0d0d;
  }
  nav .navies {
    background-color: #e0dbdb;
    border-bottom: 1px solid #0d0d0d;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }
  nav .navies ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  nav .navies ul a {
    color: #7f7f7f;
    text-decoration: none;
    padding: 5px;
  }
  nav .navies .icons .icon {
    text-decoration: none;
    color: #7f7f7f;
    padding: 2px;
    font-size: 35px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  p {
    font-family: poppins;
    font-size: 16px;
  }

  h1 {
    font-family: Poppins;
    letter-spacing: 15px;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    text-align: center;
  }

  h2 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
  }

  h3 {
    font-family: poppins;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 5px;
  }

  h4 {
    font-family: poppins;
    font-size: 24px;
    font-weight: normal;
  }

  button {
    font-family: poppins;
    font-size: 24px;
  }

  a {
    font-family: poppins;
    font-size: 16px;
  }
}
@media screen and (min-width: 380px) {
  p {
    font-family: poppins;
    font-size: 24px;
  }

  h1 {
    font-family: Poppins;
    margin-top: 0px;
    letter-spacing: 15px;
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 0px;
  }

  h2 {
    font-family: Poppins;
    font-size: 64px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h3 {
    font-family: poppins;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 10px;
    text-shadow: 1px 1px #7f7f7f;
  }

  h4 {
    font-family: poppins;
    font-size: 24px;
    font-weight: normal;
  }

  button {
    font-family: poppins;
    font-size: 24px;
  }

  a {
    font-family: poppins;
    font-size: 24px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade1 {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.fade2 {
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
}

.fade3 {
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s;
}

@media screen and (max-width: 380px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
  }

  h1 {
    letter-spacing: 10px;
    font-weight: normal;
  }

  h3 {
    text-shadow: #0d0d0d;
    display: flex;
    justify-content: center;
  }

  #tour {
    width: 360px;
    height: 245px;
    margin: auto;
    background-image: url("projects2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tourbutton {
    color: #ececec;
    background-color: #7f7f7f;
    border-radius: 10px;
    width: 188px;
    height: 20px;
    z-index: 2;
  }

  footer {
    background-color: #ececec;
  }

  .project-grid {
    margin-top: 50px;
    background-color: #e0dbdb;
    padding: 20px;
  }
  .project-grid .project-text {
    width: 300px;
    margin: auto;
    text-align: center;
  }
  .project-grid .project-image {
    height: 300px;
    width: 300px;
    padding-top: 15px;
    object-fit: contain;
    display: block;
    margin: auto;
  }
  .project-grid .project-link {
    color: #7f7f7f;
    text-decoration: none;
    grid-area: a;
    padding: 20px;
  }

  .graphics-grid {
    margin-top: 0px;
    display: grid;
    grid-template-areas: "title" "p" "img";
  }
  .graphics-grid .graphics-text {
    margin-top: 30px;
  }
  .graphics-grid .graphics-text h2 {
    grid-area: title;
  }
  .graphics-grid .graphics-text p {
    grid-area: p;
    margin: 5px;
  }
  .graphics-grid .graphics-image {
    grid-area: img;
    width: 300px;
    height: 300px;
    object-fit: contain;
    padding: 10px;
  }

  .contact-form {
    text-align: center;
  }
  .contact-form .forms input {
    color: #7f7f7f;
    border: 1px solid #0d0d0d;
  }
  .contact-form .forms .submit {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #mobile {
    display: flex;
    justify-content: center;
  }
  #mobile .chevron {
    margin-top: 10px;
  }
}
@media screen and (min-width: 380px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
  }

  header {
    text-align: center;
    margin: 0px;
  }

  h3 {
    text-shadow: #0d0d0d;
    margin: 0px;
  }

  main {
    background-color: #ececec;
    height: 100%;
  }

  .subheader {
    display: flex;
    justify-content: center;
  }
  .subheader h2 {
    letter-spacing: 2px;
    font-weight: normal;
    width: 557px;
    margin-top: 100px;
  }

  #tour {
    width: 440px;
    height: 300px;
    margin: auto;
    background-image: url("projects2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .tourbutton {
    font-size: medium;
    color: #ececec;
    background-color: #7f7f7f;
    border-radius: 10px;
    width: 188px;
    height: 35px;
    position: relative;
    z-index: 2;
  }

  .project-grid {
    margin-top: 70px;
    background-color: #e0dbdb;
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  .project-grid .project-text {
    width: 850px;
  }
  .project-grid .project-header {
    margin-top: 10px;
    margin-left: 20px;
  }
  .project-grid p {
    padding: 20px;
  }
  .project-grid .project-link {
    color: #7f7f7f;
    text-decoration: none;
    grid-area: a;
    padding: 20px;
  }
  .project-grid .project-image {
    padding: 20px;
    height: 400px;
    width: 400px;
    object-fit: contain;
  }

  .graphics-grid {
    margin-top: 100px;
    display: grid;
    grid-template-areas: "img . . ." "img . title title" "img . p p";
  }
  .graphics-grid .graphics-text {
    margin-top: 100px;
  }
  .graphics-grid .graphics-text h2 {
    grid-area: title;
  }
  .graphics-grid .graphics-text p {
    grid-area: p;
    font-size: 32px;
  }
  .graphics-grid .graphics-image {
    grid-area: img;
    width: 500px;
    height: 500px;
    object-fit: contain;
    padding: 20px;
  }

  .getIn {
    text-align: center;
    font-weight: normal;
    margin-right: 300px;
    margin-top: 50px;
  }

  .contact-form {
    text-align: center;
  }
  .contact-form .forms input {
    color: #7f7f7f;
    border: 1px solid #0d0d0d;
  }
  .contact-form .submit {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #mobile {
    display: none;
  }
}