@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Poppins&display=swap');

@media screen and (max-width: 380px) {
    p {
        font-family: poppins;
        font-size: 24px;
    }

    h1 {
        font-family: Poppins;
        letter-spacing: 15px;
        font-size: 32px;
        text-align: center;
        margin-top: 10px;
        text-align: center;
        }

    h2 {
        font-family: Poppins;
        font-size: 32px;
        font-weight: normal;
        text-align: center;
    }

    h3 {
        font-family: poppins;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 5px;
    }
    h4 {
        font-family: poppins;
        font-size: 24px;
        font-weight: normal;       
    }

    button {
        font-family: poppins;
        font-size: 24px;
    }
}

@media screen and (min-width: 380px) {
    p {
        font-family: poppins;
    }

    h1 {
        font-family: Poppins;
        margin-top: 0px;
        letter-spacing: 15px;
        font-size: 64px;
        font-weight: normal;
        margin-bottom: 0px;
    }

    h2 {
        font-family: Poppins;
        font-size: 64px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 5px;        
    }

    h3 {
        font-family: poppins;
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 10px;
        text-shadow: 1px 1px rgba(127, 127, 127, 1);;
    }

    h4 {
        font-family: poppins;
        font-size: 24px;
        font-weight: normal;       
    }

    button {
        font-family: poppins;
        font-size: 24px;
    }
}